body {
  margin: 0;
  padding: 0;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: #f7f7f7;
}

div.header_text {
  background-color: black;
  width: 100%;
  height: 3em;
  border-top: 1px gray solid;
  border-bottom: 2px orangered solid;
}

div.header_text h1 {
  color: white;
  position: absolute;
  left: 50%;
  top: 0%;
  transform: translate(-50%, -50%);
}

.carousel-container h2 {
  margin: 0px;
}

.carousel-container {
  box-sizing: border-box;
}

.show-item {
  display: block !important;
}

.hide-item {
  display: none !important;
}

.carousel-item {
  display: none;
}
.carousel-item div {
  color: #f8f8f8;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  position: relative;
  width: 100vw;
  height: 50vh;
  margin: 2px;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  background-color: rgb(209, 164, 248);
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 2s;
  animation-name: fade;
  animation-duration: 2s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.5;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.5;
  }
  to {
    opacity: 1;
  }
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
